body {
  background-color: #FBFBEF;
  /* background-image: url(/assets/7808.png);
  background-size: 20%;
  background-position: right bottom;
  background-repeat: no-repeat; */
}
table {
  position: relative;
  width: 90%;
}

.pagination span{
  padding: 5px 10px;
}

.min_hight{
  min-height: 200px;
}

.task_content{
  max-height: 160px;
  overflow: hidden;
}

.container-fluid{
  padding: 0px;
  min-height: 750px
}
